langchain
chromadb
sentence-transformers
langchain-huggingface
tqdm
python-dotenv
langchain-community
google-generativeai
requests
streamlit
langchain-chroma
pyjwt
bcrypt
pytest
rank-bm25
scikit-learn
numpy
pandas
plotly
altair
mysql-connector-python
